<h1>Tracking</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div *ngIf="alreadyMacAddressAssociate;else map">
	<select [(ngModel)]="selectedOption" (ngModelChange)="loadMap()">
		<option value="0">Last location</option>
		<option value="1">Navigation</option>
	</select>

	<select [(ngModel)]="selectedDay" *ngIf="selectedOption == '1'" (ngModelChange)="loadDailyRoute()">
		<option *ngFor="let day of days" value="{{day}}">{{day}}</option>
	</select>

	<agm-map
		[latitude]="latitude"
		[longitude]="longitude"
		[zoom]="18">
			<agm-marker *ngIf="selectedOption == '0';else routes"
			[latitude]="latitude"
			[longitude]="longitude"
			[title]= "title">
			</agm-marker>
			<ng-template #routes>
				<agm-marker *ngFor="let location of currentRoute"
				[latitude]="location.latitude"
				[longitude]="location.longitude"
				[title]= "location.time"
				[label]= "location.num" >
				</agm-marker>
				<agm-polyline
			    [draggable]="false"
			    [editable]="false"
			    [clickable]="true"
			    [geodesic]="true"
			    >
					<!-- <ng-container *ngFor="let positionKey of tracks[trackKey] | keys"> -->
					<ng-container *ngFor="let location of currentRoute">
		      	<agm-polyline-point
			        [latitude]="location.latitude"
			        [longitude]="location.longitude">
			      </agm-polyline-point>
			    </ng-container>
			  </agm-polyline>
			</ng-template>
		</agm-map>
</div>

<ng-template #map>
	Please set a mac addres on settings menu
</ng-template>
